<div class="title">
  <h2 mat-dialog-title>Crear tarea</h2>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="dialog">
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<mat-divider></mat-divider>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>
