.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}
