.container {
  margin: 24px;
  padding: 20px;
}


.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 600px;
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

}
